<script context="module">

</script>

<script>
	/** @type {import('./$types').PageData */
	export let data;

	let { Page, meta, _subpages } = data;
</script>

<LayoutLoader {meta}>
	<svelte:component this={Page} {_subpages} />
</LayoutLoader>